test/test-flows.json
[
    {
        "id": "ca93d23b7478210e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d01a81e6b4585a8a",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 590,
        "y": 100,
        "wires": [
            [
                "2382e44accf4468f"
            ]
        ]
    },
    {
        "id": "e2661337b897c05b",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "2cf6aeae2c2d690d",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "021546b6a9df8b2c"
            ]
        ]
    },
    {
        "id": "753286c35a1a4227",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "babbd70329a98dd8",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "f1c642c66d155496"
            ]
        ]
    },
    {
        "id": "9af16a02798cd45e",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 280,
        "wires": []
    },
    {
        "id": "021546b6a9df8b2c",
        "type": "get-nodes",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "x": 790,
        "y": 160,
        "wires": [
            [
                "753286c35a1a4227"
            ]
        ]
    },
    {
        "id": "2382e44accf4468f",
        "type": "ping",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "e2661337b897c05b"
            ]
        ]
    },
    {
        "id": "f1c642c66d155496",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Node Name",
        "description": "Node Description",
        "nodedata": "NodeData",
        "nodetype": "node",
        "revisiontype": "namespaceDatabase",
        "version": "",
        "modelversion": "",
        "timestamp": "0",
        "backupsetid": "",
        "x": 790,
        "y": 280,
        "wires": [
            [
                "9af16a02798cd45e"
            ]
        ]
    },
    {
        "id": "156c3806645b2c26",
        "type": "delete-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "nodeid": "2362f1e7-800f-49f2-828c-ea26996f978b",
        "x": 790,
        "y": 400,
        "wires": [
            [
                "a2b66731d0554656"
            ]
        ]
    },
    {
        "id": "1da5f7f120b7afc9",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 590,
        "y": 400,
        "wires": [
            [
                "156c3806645b2c26"
            ]
        ]
    },
    {
        "id": "a2b66731d0554656",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "a53d2a3e1d88673b",
        "type": "update-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "6062bde7-04d9-42d3-bafc-dc26f1599d84",
        "nodename": "Updated Node Name",
        "description": "Updated Node Description",
        "nodetype": "",
        "x": 790,
        "y": 340,
        "wires": [
            [
                "d2689d16f7772d67"
            ]
        ]
    },
    {
        "id": "f85957de993d8622",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "a53d2a3e1d88673b"
            ]
        ]
    },
    {
        "id": "d2689d16f7772d67",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "e85ec188df6cf7c0",
        "type": "get-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "nodeid": "6062bde7-04d9-42d3-bafc-dc26f1599d84",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "9b5f2f4c5f77118f"
            ]
        ]
    },
    {
        "id": "7125ca95edb08471",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "e85ec188df6cf7c0"
            ]
        ]
    },
    {
        "id": "9b5f2f4c5f77118f",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "ab98265c3dbc84d7",
        "type": "upload-content",
        "z": "ca93d23b7478210e",
        "name": "Upload binary content",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "contenttype": "Binary",
        "testvalue": "This is a binary blob that has been uploaded",
        "x": 820,
        "y": 1000,
        "wires": [
            [
                "0fc2659f40df6a28"
            ]
        ]
    },
    {
        "id": "24fedfb959364780",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "Create Store",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Store node Hive",
        "description": "Store for Hive",
        "nodedata": "NodeData",
        "nodetype": "namespaceNodeset",
        "revisiontype": "namespaceNodeset",
        "version": "1.0.0",
        "modelversion": "2.0.0",
        "timestamp": "0",
        "backupsetid": "",
        "x": 790,
        "y": 740,
        "wires": [
            [
                "d956199cc1222932"
            ]
        ]
    },
    {
        "id": "8319d0ad0d2b49d8",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "Create Revision",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Revision Node for Hive",
        "description": "This is a Revision Node for Hive",
        "nodedata": "RevisionData",
        "nodetype": "undefined",
        "revisiontype": "namespaceNodeset",
        "version": "1.0.0",
        "modelversion": "2.0.0",
        "timestamp": "123",
        "backupsetid": "",
        "x": 800,
        "y": 860,
        "wires": [
            [
                "272a4764290ad49b"
            ]
        ]
    },
    {
        "id": "d956199cc1222932",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.parentid = msg.payload.nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 800,
        "wires": [
            [
                "8319d0ad0d2b49d8"
            ]
        ]
    },
    {
        "id": "7a4e254daac14a73",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "Crate Root Node",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Root Node Hive Test",
        "description": "Root Node Hive Description",
        "nodedata": "NodeData",
        "nodetype": "node",
        "revisiontype": "namespaceDatabase",
        "version": "",
        "modelversion": "",
        "timestamp": "0",
        "backupsetid": "",
        "x": 810,
        "y": 620,
        "wires": [
            [
                "f00478a3fdaefd04",
                "201e8a437daed00c"
            ]
        ]
    },
    {
        "id": "44d1838e3702c86f",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test Binary upload",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "7a4e254daac14a73"
            ]
        ]
    },
    {
        "id": "f00478a3fdaefd04",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.parentid = msg.payload.nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 680,
        "wires": [
            [
                "24fedfb959364780"
            ]
        ]
    },
    {
        "id": "272a4764290ad49b",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.node_id = msg.payload.nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 920,
        "wires": [
            [
                "ab98265c3dbc84d7",
                "0fc2659f40df6a28"
            ]
        ]
    },
    {
        "id": "0274c56893338194",
        "type": "comment",
        "z": "ca93d23b7478210e",
        "name": "Upload binary content",
        "info": "Create 3 nodes, upload content to Store node, download content and compare with uploaded, delete the nodes. \n",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "f14957a363d433d1",
        "type": "download-content",
        "z": "ca93d23b7478210e",
        "name": "Download binary content",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "contenttype": "Binary",
        "x": 830,
        "y": 1140,
        "wires": [
            [
                "21d75b74938ced55"
            ]
        ]
    },
    {
        "id": "0fc2659f40df6a28",
        "type": "join",
        "z": "ca93d23b7478210e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "e27d4d8e96d3838b"
            ]
        ]
    },
    {
        "id": "e27d4d8e96d3838b",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.payload = msg.payload[0].nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "f14957a363d433d1"
            ]
        ]
    },
    {
        "id": "21d75b74938ced55",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1200,
        "wires": [
            [
                "31f65d4917c776c1",
                "201e8a437daed00c"
            ]
        ]
    },
    {
        "id": "31f65d4917c776c1",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1d8f2847685a5017",
        "type": "delete-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "x": 810,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "201e8a437daed00c",
        "type": "join",
        "z": "ca93d23b7478210e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 1320,
        "wires": [
            [
                "857a0705cfe6465c"
            ]
        ]
    },
    {
        "id": "857a0705cfe6465c",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.node_id = msg.payload[0].nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1320,
        "wires": [
            [
                "1d8f2847685a5017"
            ]
        ]
    },
    {
        "id": "bb03d78626808b99",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Remove all nodes",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 570,
        "y": 2500,
        "wires": [
            [
                "810cd55249db85f3"
            ]
        ]
    },
    {
        "id": "4342a80d8a3819ef",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 2500,
        "wires": []
    },
    {
        "id": "810cd55249db85f3",
        "type": "get-nodes",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "x": 830,
        "y": 2500,
        "wires": [
            [
                "4342a80d8a3819ef",
                "390d483d8c378302"
            ]
        ]
    },
    {
        "id": "db7013f034c632cb",
        "type": "split",
        "z": "ca93d23b7478210e",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 830,
        "y": 2660,
        "wires": [
            [
                "266cd97f392a215b"
            ]
        ]
    },
    {
        "id": "390d483d8c378302",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.payload = msg.payload.subNodes;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2580,
        "wires": [
            [
                "db7013f034c632cb"
            ]
        ]
    },
    {
        "id": "266cd97f392a215b",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.node_id = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2740,
        "wires": [
            [
                "740c9818f2bd4be8"
            ]
        ]
    },
    {
        "id": "740c9818f2bd4be8",
        "type": "delete-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "x": 810,
        "y": 2800,
        "wires": [
            [
                "53659d0c94628546"
            ]
        ]
    },
    {
        "id": "53659d0c94628546",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 2800,
        "wires": []
    },
    {
        "id": "a16b634368f727a4",
        "type": "comment",
        "z": "ca93d23b7478210e",
        "name": "Delete all nodes (Does not work)",
        "info": "",
        "x": 830,
        "y": 2440,
        "wires": []
    },
    {
        "id": "e31f682c608f2591",
        "type": "upload-content",
        "z": "ca93d23b7478210e",
        "name": "Upload text content",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "contenttype": "Text",
        "testvalue": "This is a text string that has been uploaded",
        "x": 830,
        "y": 1940,
        "wires": [
            [
                "335e70fcd680b7c0"
            ]
        ]
    },
    {
        "id": "52c7656d47323a45",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "Create Store",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Store node Hive",
        "description": "Store for Hive",
        "nodedata": "NodeData",
        "nodetype": "namespaceNodeset",
        "revisiontype": "namespaceNodeset",
        "version": "1.0.0",
        "modelversion": "2.0.0",
        "timestamp": "0",
        "backupsetid": "",
        "x": 810,
        "y": 1680,
        "wires": [
            [
                "6d3f3a35865d8709"
            ]
        ]
    },
    {
        "id": "87786cd900dbe78f",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "Create Revision",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Revision Node for Hive",
        "description": "This is a Revision Node for Hive",
        "nodedata": "RevisionData",
        "nodetype": "undefined",
        "revisiontype": "namespaceNodeset",
        "version": "1.0.0",
        "modelversion": "2.0.0",
        "timestamp": "123",
        "backupsetid": "",
        "x": 820,
        "y": 1800,
        "wires": [
            [
                "011701a204a78789"
            ]
        ]
    },
    {
        "id": "6d3f3a35865d8709",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.parentid = msg.payload.nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1740,
        "wires": [
            [
                "87786cd900dbe78f"
            ]
        ]
    },
    {
        "id": "f108426cc5b66de1",
        "type": "create-node",
        "z": "ca93d23b7478210e",
        "name": "Crate Root Node",
        "server": "f6260fe87a01091b",
        "parentid": "",
        "nodeid": "",
        "nodename": "Root Node Hive Test",
        "description": "Root Node Hive Description",
        "nodedata": "NodeData",
        "nodetype": "node",
        "revisiontype": "namespaceDatabase",
        "version": "",
        "modelversion": "",
        "timestamp": "0",
        "backupsetid": "",
        "x": 830,
        "y": 1560,
        "wires": [
            [
                "e76367b2d749ec4b",
                "67eed8380c9d24cd"
            ]
        ]
    },
    {
        "id": "17cff386a8d0f6ba",
        "type": "inject",
        "z": "ca93d23b7478210e",
        "name": "Test Text upload",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 580,
        "y": 1560,
        "wires": [
            [
                "f108426cc5b66de1"
            ]
        ]
    },
    {
        "id": "e76367b2d749ec4b",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.parentid = msg.payload.nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1620,
        "wires": [
            [
                "52c7656d47323a45"
            ]
        ]
    },
    {
        "id": "011701a204a78789",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.node_id = msg.payload.nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1860,
        "wires": [
            [
                "e31f682c608f2591",
                "335e70fcd680b7c0"
            ]
        ]
    },
    {
        "id": "09db14a6055337a3",
        "type": "comment",
        "z": "ca93d23b7478210e",
        "name": "Upload text content",
        "info": "Create 3 nodes, upload content to Store node, download content and compare with uploaded, delete the nodes. \n",
        "x": 810,
        "y": 1500,
        "wires": []
    },
    {
        "id": "8648b3b7d608fe1a",
        "type": "download-content",
        "z": "ca93d23b7478210e",
        "name": "Download text content",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "contenttype": "Text",
        "x": 840,
        "y": 2080,
        "wires": [
            [
                "ba9f411c578d65c4"
            ]
        ]
    },
    {
        "id": "335e70fcd680b7c0",
        "type": "join",
        "z": "ca93d23b7478210e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 2020,
        "wires": [
            [
                "f97ce51057d654f7"
            ]
        ]
    },
    {
        "id": "f97ce51057d654f7",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.payload = msg.payload[0].nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2020,
        "wires": [
            [
                "8648b3b7d608fe1a"
            ]
        ]
    },
    {
        "id": "ba9f411c578d65c4",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2140,
        "wires": [
            [
                "67eed8380c9d24cd",
                "43f6782a95345f35"
            ]
        ]
    },
    {
        "id": "1d3a9286d3461bbf",
        "type": "delete-node",
        "z": "ca93d23b7478210e",
        "name": "",
        "server": "f6260fe87a01091b",
        "nodeid": "",
        "x": 830,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "67eed8380c9d24cd",
        "type": "join",
        "z": "ca93d23b7478210e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 2260,
        "wires": [
            [
                "9815fd8e4d8d7b4b"
            ]
        ]
    },
    {
        "id": "9815fd8e4d8d7b4b",
        "type": "function",
        "z": "ca93d23b7478210e",
        "name": "",
        "func": "msg.node_id = msg.payload[0].nodeId.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2260,
        "wires": [
            [
                "1d3a9286d3461bbf"
            ]
        ]
    },
    {
        "id": "43f6782a95345f35",
        "type": "debug",
        "z": "ca93d23b7478210e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 2140,
        "wires": []
    },
    {
        "id": "7204f3ca661b98f1",
        "type": "comment",
        "z": "ca93d23b7478210e",
        "name": "Individual methods",
        "info": "",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "f6260fe87a01091b",
        "type": "prediktor-config-repository",
        "host": "10.100.86.237",
        "port": "8237"
    }
]